*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}
background{
  width: 100%;
  height: 100%;
  background-image: (../images/bg.jpg.jpg)
  background-repeat: no repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}
nav{
  width: 350px;
  height: auto;
  background-color: gray;
  position: absolute;
  top: 20%;
  left: 0;
}
nav a{
  text-decoration: none;
  font-size: 28px;
  font-family: verdana;
  font-weight: bold;
  display: inline-block;
  height: 90%;
  margin: 5px 0;
  float: left;
  background-color: black;
  color: white;
  line-height: 90px;
  text-align: center;
}
a.active, .nav a:hover{
  background-color: white;
  color: black;
  width: 100%;
}
a{
  width: 95%;
}
b{
  width: 85%;
}
c{
  width: 80%;
}
d{
  width: 90%;
}
content{
  width: 300px;
  height: 300px;
  position: absolute;
  /*background-color: red;*/
  right: 0;
  top: 10%;
}
home{
  position: absolute;
  right: 0;
  bottom: -50px;
  color: white;
  font-family: verdana;
}
home h1{
  font-size: 95;
  padding-right: 90px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}
h3{
  font-size: 28px;
  padding:  5px 0;
  opacity: 0.6;
}
aboutus{
  position:absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 0 60px;
  display: none;
}
aboutus p{
  font-size: 18px;
  line-height; 28px;
  margin-bottom: 15px;
}
gallery{
  position:absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 0 60px;
  display: none;
}
gallery.image{
  width: 29%;
  margin: 2%;
  float: left;
}
image img{
  width: 100%;
  transition: all ease 0.5%;
  -webkit-transition: all ease 0.5%;
  transform: scale(1);
  -webkit-transform: scale(1);
}
image img:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
contactus{
  position:absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 0 60px;
  display: none;
}
inputtext{
  width: 55%;
  height: 65px;
  border: 3px solidblack;
  color: white
  background-color: rgba(0,0,0,0,7);
  font-size: 20px;
  padding: 0 10px;
  float: left;
}
inputmessage{
  width: 55%;
  height: 65px;
  border: 3px solidblack;
  color: white
  background-color: rgba(0,0,0,0,7);
  font-size: 20px;
  padding: 0 10px;
  float: left;
}
submitbutton{
  width: 160px;
  height: 65px;
  background-color: white;
  font-family: arial;
  color: black;
  font-size: 28px;
  border: none;
  font-weight:bold;
  clear:both;
  float: left;
  margin-top: 25px;
}

@media only screen (min-width:480px)(max-width:768px){
  nav a{
    font-size: 10px;
    width:auto;
    height:30px;
    line-height:30px;
    padding:0 10px;
  }
  a.active,.nav a:hover{
    width: auto;
  }
  nav{
    width:100px;
    top:20px;
    z-index: 99;
  }
  home h1{
    font-size: 22px;
    padding-right: 0;
    border-bottom: none;
  }
  home h3{
    font-size: 18px;
  }
  content{
    width:100%;
    height:100%;
    top:0;
    min-height: inherit;
  }
  home{
    left:0;
    text-align:center;
    bottom:50px;
  }
  background{
    background-position: center;
  }
  aboutus{
    width:90%;
    margin:0 auto;
    padding: 0;
    top: 0;
    left: 0;
  }
  aboutus p{
    font-size:14px;
  }
  gallery{
    width:90%;
    margin:0 auto;
    padding: 100px 0;
    top: 0;
    left: 0;
  }
  gallery.image{
    width: 48%;
  }
  contactus{
    width:90%;
    margin:0 auto;
    padding:100px 0;
    top: 0;
    left: 0;
  }
  inputtext,
  inputmessage{
    width:90%;
    height: 30px;
    padding: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  inputmessage{
    height:80px;
    padding:5px;
  }
  submitbutton{
    width: 100%;
    height:35px;
    font-size: 16px;
    margin-top: 5px;
  }
}
